.nodeBase {
  cursor: pointer;
  stroke-width: 2;
}

.leafNodeBase {
  cursor: pointer;
  stroke-width: 2;
}

.nodeNameBase {
  stroke-width: 1;
}

.nodeAttributesBase {
  stroke-width: 1;
  font-size: smaller;
}
